* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.text-white {
  color: white !important;
}

#main {
}

#header {
  --header-height: 46px;
  height: var(--header-height);
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-mobile-input {
  display: none;
}

#nav-mobile-input:checked ~ .overlay {
  display: block;
}

#nav-mobile-input:checked ~ .nav-mobile {
  transform: translateY(0);
  opacity: 1;
}
.nav-mobile {
  position: absolute;
  background-color: #000;
  top: var(--header-height);
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-120%);
  transition: transform ease 0.3s, opacity ease 0.3s;
}

.nav-mobile ul {
  list-style: none;
}

.nav-mobile ul li {
  margin: 10px 0 20px 30px;
}

.nav-mobile ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
}

#header .overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn ease 0.3s;
}

#header .hamburger-icon {
  color: #fff;
  font-size: 20px;
  line-height: var(--header-height);
  margin-left: 30px;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  display: block;
  text-decoration: none;
  padding: 0px 24px;
  line-height: var(--header-height);
}

#nav .more .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav .more {
  position: relative;
}

#nav .more .subnav {
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .more:hover .subnav {
  display: block;
}

#nav .more .subnav li {
  width: 100%;
  text-decoration: none;
}

#nav .more .subnav a {
  color: #000;
  text-decoration: none;
  padding-left: 16px;
  line-height: 38px;
}

#nav .more .subnav li:hover a {
  display: block;
}

#header .search-btn {
  display: inline;
}

#header .search-btn {
  color: #fff;
  line-height: 46px;
  padding: 0px 20px;
  float: right;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background-image: url('../img/chicago.jpg');
  background-position: top cover;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: #333; */
}

#slider .slider-content {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
}

#slider .slider-content span {
  display: block;
  text-align: center;
}

#slider .slider-content .slider-title {
  font-size: 24px;
  font-weight: 500px;
  margin-bottom: 20px;
}

#slider .slider-content .slider-description {
  font: 16px;
  font-weight: 400px;
}

#content {
}

#content .content-section {
  padding: 64px 16px;
  margin: 0 auto;
}

#content .content-section .section-heading {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 4px;
  line-height: 45px;
}

#content .content-section .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
  opacity: 0.6;
  margin: 15px 0;
}

#content .content-section .section-heading,
#content .content-section .section-sub-heading {
  display: block;
  text-align: center;
}

#content .content-section .about-text {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  margin: 15px 0;
}

#content .content-section .about-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 105px;
  padding: 32px 0;
}

#content .content-section .about-teams span {
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 0;
}

#content .content-section .about-teams img {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin-bottom: 16px;
}

#content .tour-section {
  background-color: #000;
}

.tour-section .tickets-list {
  background-color: #fff;
  list-style: none;
  margin-top: 40px;
}

.tour-section .tickets-list .ticket-item {
  font-size: 15px;
  padding: 8px 16px;
  line-height: 1.5;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid #ddd;
}

.tour-section .tickets-list .sold-out {
  background-color: #f44336;
  font-size: 15px;
  line-height: 1.5;
  margin-left: 16px;
  padding: 5px 8px;
}

.tour-section .tickets-list .available {
  display: flex;
  justify-content: space-between;
}

.tour-section .tickets-list .available .number {
  --circle-diameter: 24px;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  text-align: center;
  line-height: var(--circle-diameter);
  background-color: #000;
  border-radius: 50%;
  margin-right: 16px;
}

.tour-section .tour-places {
  display: flex;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tour-section .tour-places .tour-place {
  background-color: #fff;
}

.tour-place .tour-place-content {
  padding: 0 16px;
  font-size: 15px;
  line-height: 1.5;
}

.tour-section .tour-places .tour-place .tour-place-img {
  width: 100%;
}

.tour-section .tour-places .tour-place .tour-place-img:hover {
  filter: brightness(50%);
}

.tour-section .tour-places .tour-place span {
  display: block;
  margin: 15px 0;
}

.tour-section .tour-places .tour-place .tour-place-name {
  font-weight: 700;
}

.tour-section .tour-places .tour-place .tour-place-date {
  opacity: 0.6;
}
.tour-section .tour-places .tour-place .buy-tickets-btn {
  margin: 15px 0;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.tour-section .tour-places .tour-place .buy-tickets-btn:hover {
  background-color: #ccc;
  color: #000;
}

#contact .contact-body {
  display: flex;
  margin-top: 32px;
}

#contact .address {
  width: 50%;
}

#contact .address div {
  margin-bottom: 12px;
  font-size: 16px;
}

#contact .address i {
  width: 16px;
}

#contact .address span {
  margin-left: 16px;
}

#contact .message-form {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

#contact .message-form input {
  width: calc(50% - 8px);
  font-size: 16px;
  padding: 8px;
}

#contact .message-form .message {
  width: 100%;
}

#contact .message-form .send {
  width: 100%;
  margin-top: 8px;
}

#contact .message-form .send-btn {
  float: right;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
}

#map {
  padding-top: 56%;
  background: url('/w3_band/assets/img/places/map.jpg') no-repeat top center / cover;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer-content {
  padding: 64px 16px;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#footer .social-icons i:hover {
  opacity: 0.6;
  cursor: pointer;
}

#footer .copyright {
  margin: 15px 0;
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#modal .modal-form {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  z-index: 3;
  animation: modalFadeIn ease 0.3s;
}

#modal .close-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  padding: 8px 16px;
}

#modal .close-icon:hover {
  background-color: #ccc;
  color: #000;
}

#modal .modal-logo {
  --logo-height: 130px;
  height: var(--logo-height);
  width: 900px;
  max-width: calc(100vh - 32px);
  line-height: var(--logo-height);
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 4px;
  background-color: #009688;
}

#modal .buy-ticket-form {
  width: 900px;
  max-width: calc(100vh - 32px);
  height: 350px;
  font-size: 15px;
  background-color: #fff;
  padding: 0 16px;
}

#modal .buy-ticket-form label {
  display: inline-block;
  margin: 15px 0;
}

#modal .buy-ticket-form input {
  width: 100%;
  padding: 8px;
}

#modal .buy-ticket-form .pay-btn {
  width: 100%;
  color: #fff;
  background-color: #009688;
  border: none;
  margin: 16px 0;
  padding: 16px;
}

#modal .buy-ticket-form .pay-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

#modal .form-bottom {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

#modal .form-bottom button {
  padding: 12px 16px;
  background-color: #f44336;
  border: none;
  color: #fff;
}

#modal .form-bottom button:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .about-teams {
    flex-direction: column;
    gap: 40px !important;
  }

  .tour-section .tour-places {
    flex-direction: column;
  }

  #contact .contact-body {
    flex-direction: column;
    justify-content: center;
  }

  #contact .address {
    width: 100%;
  }

  #contact .message-form {
    width: 100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 1023px) {
  #nav > li {
    display: none;
  }
}
